h1#title= config.name
// http://stackoverflow.com/questions/6270832/jade-express-iterating-over-object-in-inline-js-code-client-side
p
  script(src='/javascripts/spb.js')
  script(src='/javascripts/tsv.js')
  script(src='/javascripts/nav.js')
- if (typeof(series) != null)
  != "<script type='text/javascript'> "
  != "function initData() { "
  != "  var s = " + JSON.stringify(series) + "; "
  != "  var c = " + JSON.stringify(config) + "; "
  != "  var b = " + JSON.stringify(bounds) + "; "
  != "  showCharts(s,c,b); "
  != "}"
  != "</script>"

script
  $('document').ready(function(){
    var f = '#{config.asOfDate.value}',
      l = '#{config.series.value}'.split(','),
      t = '#{chartType}';

    $('[name="formOptions[series]"]').val(l);

    $('[name="formOptions[chartType]"]').val(t);

    $('#formOptionsFromDate').val(f);

    $('#asOfDatePicker').datepicker({ dateFormat: 'yy-mm-dd',
      defaultDate: f,
      onSelect: function(dateText, inst) {
        $('[name="formOptions[asOfDate]"]').val(dateText);
        $('#formOptionsFromDate').val(dateText);
        var v = $('#formOptionsFromDate').val();
      }
    });

    $('#settings').hide();
    $('#title').click(function(){
      $('#settings').animate({"height": "toggle"}, { duration: 500 }); 
    }); 
  });

body(onload="initData()", style="font-size:62.5%;")

div#settings
  form(method="post")
    table
      tr(valign="top")
        td
          fieldset
            legend=config.asOfDate.label
            p
              input(name="formOptions[asOfDate]", type="hidden", value=config.asOfDate.value)
              div#asOfDatePicker
        td
          fieldset
            legend=config.series.label
            p
              select(name="formOptions[series]", multiple, size=config.series.options.length)
                - for (var i in config.series.options)
                  - var e = config.series.options[i]
                  option(value=e[0])=e[1]
        td
          fieldset
            legend chart type
            p
              select(name="formOptions[chartType]", size=2)
                option(value=1) run chart
                option(value=2) scatterplot
    p.buttons
      input(type="submit", value="Go")

div#ctitle
