h1= config.name
// http://stackoverflow.com/questions/6270832/jade-express-iterating-over-object-in-inline-js-code-client-side
p
script(src='/javascripts/tsv.js')
- if (typeof(series) != null)
  != "<script type='text/javascript'> "
  != "function initData() { "
  != "  var s = " + JSON.stringify(series) + "; "
  != "  var c = " + JSON.stringify(config) + "; "
  != "  plotSeries(s,c); "
  != "}"
  != "</script>"

script
  $('document').ready(function(){
    var f = '#{config.fromDate.value}';
    $('#formOptionsFromDate').val(f);

    $('#fromDatePicker').datepicker({ dateFormat: 'yy-mm-dd',
      onSelect: function(dateText, inst) {
        $('[name="formOptions[fromDate]"]').val(dateText);
        $('#formOptionsFromDate').val(dateText);
        var v = $('#formOptionsFromDate').val();
      }
    }); 
  });

body(onload="initData()", style="font-size:62.5%;")

form(method="post")
  fieldset
    legend Settings
    p
      label(for="formOptions[fromDate]") From Date:
        input(name="formOptions[fromDate]", type="hidden", value=config.fromDate.value)
      div#fromDatePicker
  fieldset
    legend=config.series.label
    p
      select(name="formOptions[series]", multiple, size=config.series.options.length)
        - for (var i in config.series.options)
          - var e = config.series.options[i]
          option(value=e[0])=e[1]
  p.buttons
    input(type="submit", value="Save")
